.home-container{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding: 40px;
    padding-bottom: 0px;
    top: 0;
    background-color: #f5f5f5;
}
.home-main-container{
    margin-left: 320px;
    width: calc(100vw - 400px);
    height: 100%;
    position: absolute;
    top: 50px;
    background-color: #f5f5f5;
}
.home-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.home-header strong{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
}
.home-header input{
    width: auto;
    border-radius: 5px;
    border: none;
    outline: none;
}
.home-header img{
    height: 25px;
    width: 25ppx;
    margin-left: 40px;
    cursor: pointer;
}
.search-div{
    padding: 0 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.search-div img{
    margin: 0;
}
.cards-container{
    /* border: solid black; */
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
}

.activities-container{
    height: 40%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.activities-container span{
    position: absolute;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transform: translateX(30px);
}
.home-bottom-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 30%;
}
.products-container{
    width: 49%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.home-schedule-container{
    width: 49%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

@media only screen and (max-width: 600px){
    .home-container{
        padding: 10px;
    }.home-main-container{
        margin-left: 0px;
        width: 95vw;
    }
    .home-main-container{
        top: 10px;
    }
    .home-header{
        padding: 10px 0;
    }
    .home-header input{
        display: none;
    }
    .search-div{
        background-color: #f5f5f5;
    }
    .home-header img{
        margin: 0 10px;
    }
    .menu-icon1{
        margin: 20px 10px;
        width: 25px;
        height: 3px;
        background-color: black;
        margin-right: 10px;
        border-radius: 1.5px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .menu-icon1::before{
        position: absolute;
        content:'';
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 1px;
        transform: translateY(-7px);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .menu-icon1::after{
        position: absolute;
        content:'';
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 1px;
        transform: translateY(8px);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .menu-icon2{
        margin: 20px 10px;
        width: 25px;
        height: 3px;
        background-color: black;
        margin-right: 10px;
        border-radius: 1.5px;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .menu-icon2::before{
        position: absolute;
        content:'';
        width: 30px;
        height: 2px;
        background-color: white;
        border-radius: 1px;
        transform: rotate(45deg);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .menu-icon2::after{
        position: absolute;
        content:'';
        width: 30px;
        height: 2px;
        background-color: white;
        border-radius: 1px;
        transform: rotate(-45deg);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        z-index: 999;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .home-bottom-container{
        flex-direction: column;
        height: 75%;
    }
    .activities-container span{
        display: none;
    }
    .products-container{
        height: 47.5%;
        width: 100%;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }
    .home-schedule-container{
        height: 47.5%;
        width: 100%;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }
}