.nav-container{
    width: 280px;
    height: calc(100vh - 80px);
    padding: 50px;
    position: fixed;
    top: 40px;
    left: 40px;
    background-color: black;
    color:#fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.nav-container a, a:active, a:visited{
    text-decoration: none;
    color: #fff !important;
}
.nav-logo{
    width: 100%;
    margin: 10px 0;
}
.nav-logo strong{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.nav-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.nav-list a{
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-list img{
    width: 20px;
    height: 20px;
    filter: invert(100%); 
}
.nav-list a span{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.nav-bottom{
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.nav-bottom a{
    padding-top: 20px;
}
@media only screen and (max-width: 600px){
    .nav-container {
        width: 280px;
        height:100vh;
        top: 0px;
        left: 0px;
        transform: translateX(-280px);
        opacity: 0.9;
        border-radius: 0;
        z-index:1;
        transition: 0.5s ease-in-out;
    }
    .nav-container.active {
        width: 280px;
        height:100vh;
        top: 0px;
        left: 0px;
        transform: translateX(0px);
        opacity: 0.9;
        border-radius: 0;
        z-index:1;
        transition: 0.5s ease-in-out;
    }
}